@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Ubuntu:ital,wght@0,400;0,500;1,500&display=swap');

:root {
	/* --primary-color: hsl(257, 36%, 48%);
	--primary-color-lighter: hsl(257, 36%, 52%); */
	/* --second-color: hsl(350, 43%, 43%); */



	/*========== Colors ==========*/
	/* Change favorite color */
	--hue-color: 250;
	/*Purple 250 - Green 142 - Blue 230 - Pink 340*/

	/* HSL color mode */
	--primary-color: hsl(var(--hue-color), 69%, 61%);
	--primary-color-lighter: hsl(var(--hue-color), 92%, 85%);
	--second-color: hsl(350, 43%, 43%);
	;
	--title-color: hsl(var(--hue-color), 8%, 15%);
	--text-color: hsl(var(--hue-color), 8%, 45%);
	--text-color-light: hsl(var(--hue-color), 8%, 65%);
	--body-color: hsl(var(--hue-color), 60%, 95%);
	--scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
	--scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

	--zindex: 1000;
    --noindex:900;
}

html {
    scroll-behavior: smooth;
}
button,
input {
	border: none;
	outline: none;
}

.char{
	transform: translateY(115px);
	/* transition: transform .5s; */
}

@-webkit-keyframes fall {
	0% {
		opacity: 0.9;
		top: 0
	}

	100% {
		opacity: 0.2;
		top: 100%
	}
}

@keyframes fall {
	0% {
		opacity: 0.9;
		top: 0
	}

	100% {
		opacity: 0.2;
		top: 100%
	}
}

@-webkit-keyframes blow-soft-left {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: -50%
	}
}

@keyframes blow-soft-left {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: -50%
	}
}

@-webkit-keyframes blow-medium-left {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: -100%
	}
}

@keyframes blow-medium-left {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: -100%
	}
}

@-webkit-keyframes blow-soft-right {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: 50%
	}
}

@keyframes blow-soft-right {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: 50%
	}
}

@-webkit-keyframes blow-medium-right {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: 100%
	}
}

@keyframes blow-medium-right {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: 100%
	}
}

@-webkit-keyframes sway-0 {
	0% {
		-webkit-transform: rotate(-5deg)
	}

	40% {
		-webkit-transform: rotate(28deg)
	}

	100% {
		-webkit-transform: rotate(3deg)
	}
}

@keyframes sway-0 {
	0% {
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg)
	}

	40% {
		-ms-transform: rotate(28deg);
		transform: rotate(28deg)
	}

	100% {
		-ms-transform: rotate(3deg);
		transform: rotate(3deg)
	}
}

@-webkit-keyframes sway-1 {
	0% {
		-webkit-transform: rotate(10deg)
	}

	40% {
		-webkit-transform: rotate(43deg)
	}

	100% {
		-webkit-transform: rotate(15deg)
	}
}

@keyframes sway-1 {
	0% {
		-ms-transform: rotate(10deg);
		transform: rotate(10deg)
	}

	40% {
		-ms-transform: rotate(43deg);
		transform: rotate(43deg)
	}

	100% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg)
	}
}

@-webkit-keyframes sway-2 {
	0% {
		-webkit-transform: rotate(15deg)
	}

	40% {
		-webkit-transform: rotate(56deg)
	}

	100% {
		-webkit-transform: rotate(22deg)
	}
}

@keyframes sway-2 {
	0% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg)
	}

	40% {
		-ms-transform: rotate(56deg);
		transform: rotate(56deg)
	}

	100% {
		-ms-transform: rotate(22deg);
		transform: rotate(22deg)
	}
}

@-webkit-keyframes sway-3 {
	0% {
		-webkit-transform: rotate(25deg)
	}

	40% {
		-webkit-transform: rotate(74deg)
	}

	100% {
		-webkit-transform: rotate(37deg)
	}
}

@keyframes sway-3 {
	0% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg)
	}

	40% {
		-ms-transform: rotate(74deg);
		transform: rotate(74deg)
	}

	100% {
		-ms-transform: rotate(37deg);
		transform: rotate(37deg)
	}
}

@-webkit-keyframes sway-4 {
	0% {
		-webkit-transform: rotate(40deg)
	}

	40% {
		-webkit-transform: rotate(68deg)
	}

	100% {
		-webkit-transform: rotate(25deg)
	}
}

@keyframes sway-4 {
	0% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg)
	}

	40% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg)
	}

	100% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg)
	}
}

@-webkit-keyframes sway-5 {
	0% {
		-webkit-transform: rotate(50deg)
	}

	40% {
		-webkit-transform: rotate(78deg)
	}

	100% {
		-webkit-transform: rotate(40deg)
	}
}

@keyframes sway-5 {
	0% {
		-ms-transform: rotate(50deg);
		transform: rotate(50deg)
	}

	40% {
		-ms-transform: rotate(78deg);
		transform: rotate(78deg)
	}

	100% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg)
	}
}

@-webkit-keyframes sway-6 {
	0% {
		-webkit-transform: rotate(65deg)
	}

	40% {
		-webkit-transform: rotate(92deg)
	}

	100% {
		-webkit-transform: rotate(58deg)
	}
}

@keyframes sway-6 {
	0% {
		-ms-transform: rotate(65deg);
		transform: rotate(65deg)
	}

	40% {
		-ms-transform: rotate(92deg);
		transform: rotate(92deg)
	}

	100% {
		-ms-transform: rotate(58deg);
		transform: rotate(58deg)
	}
}

@-webkit-keyframes sway-7 {
	0% {
		-webkit-transform: rotate(72deg)
	}

	40% {
		-webkit-transform: rotate(118deg)
	}

	100% {
		-webkit-transform: rotate(68deg)
	}
}

@keyframes sway-7 {
	0% {
		-ms-transform: rotate(72deg);
		transform: rotate(72deg)
	}

	40% {
		-ms-transform: rotate(118deg);
		transform: rotate(118deg)
	}

	100% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg)
	}
}

@-webkit-keyframes sway-8 {
	0% {
		-webkit-transform: rotate(94deg)
	}

	40% {
		-webkit-transform: rotate(136deg)
	}

	100% {
		-webkit-transform: rotate(82deg)
	}
}

@keyframes sway-8 {
	0% {
		-ms-transform: rotate(94deg);
		transform: rotate(94deg)
	}

	40% {
		-ms-transform: rotate(136deg);
		transform: rotate(136deg)
	}

	100% {
		-ms-transform: rotate(82deg);
		transform: rotate(82deg)
	}
}

.sakura {
	/* background: -webkit-linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
	background: linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9)); */
	background: url(../assets/img/icons8-violet-flower-96.png);
	background-size: 100% 100%;

	pointer-events: none;
	position: absolute
}

/* .sakura {
	background: var(--primary-color);
} */


/*******************************/

body {
	/* font-family: 'Ubuntu', sans-serif; */
	font-family: 'Poppins', sans-serif;
	/* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
	margin: 0;
    padding: 0;
}

body.light-mode{
	background-color: #fee2f8;
	background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
}
body.dark-mode{
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

img {
	max-width: 100%;
	height: auto;
}

@media (max-width:768px) {
	img {
		max-width: 30%;
	}
}

@media (min-width:768px) {
	img {
		max-width: 20%;
	}
}

@media (min-width:1200px) {
	img {
		max-width: 25%;
	}
}


.top-right-decoration {
	z-index: var(--zindex);
	position: fixed;
	top: 0;
	right: 0;
	display: block;
}

.top-left-decoration {
	z-index: var(--zindex);
	position: fixed;
	bottom: 0;
	left: 0;
	display: block;
	transform: rotate(-180deg);
}

.title h1 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-style: normal;
	font-size: 60px;
	margin: 32px 0;
	color: var(--primary-color);
}

.title h2 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-style: normal;
	margin: 0;
	padding: 0;
	font-size: 24px;
	color: #e25c67;
	line-height: 1;
}

.dance-med {
	font-family: 'Dancing Script', cursive;
	font-weight: bolder;
	font-style: normal;
	font-size: 32px;
	color: var(--primary-color);
	margin: 16px;
	text-align: center;
}

.title h3 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 24px;
	color: var(--primary-color);
	margin-top: 5px;
}

.title p {
	color: var(--primary-color);
	margin: 30px 0 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 16px;
}

.wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	/* padding: 20px; */
	text-align: center;
	/* min-height:100%; */
}


/** **/



body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title,
.functions {
	margin-bottom: 3.5rem;
}

#time {
	width: auto;
	height: auto;
	padding: 20px;
	background-color: var(--primary-color-lighter);
	border-radius: 20px;
	font-size: 16px;
	margin-bottom: 4rem;
}

.venue {
	width: auto;
	height: auto;
	background-color: var(--primary-color);
	border-radius: .75rem;
	text-align: center;
	color: #fff;
	padding: 1rem 1.75rem;
	margin-right: 8px;
	font-weight: 600;
	transition: .3s;
}

.venue:hover {
	background-color: var(--second-color);
	color: var(--title-color);
}

.venue a {
	text-decoration: none;
	color: #fff;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 10px;
	overflow: hidden;
}

.table_container {
	display: grid;
	grid-template-columns: 1fr;
	border-radius: 10px;
	overflow: hidden;
}

.block {
	width: 180px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}

.days {
	background: linear-gradient(90deg, #D0637C, #DD868C);
}

.hours {
	background: linear-gradient(90deg, #FB943C, #F8C457);
}

.minutes {
	background: linear-gradient(90deg, #E1C7E4, #EAD1E4);
}

.seconds {
	background-color: #7BDFF2;
}

.date {
	color: var(--second-color);
	font-weight: 900;
}

.place {
	color: var(--second-color);
	font-weight: 900;
}

.CTA,
.CTA a {
	color: var(--primary-color);
	text-align: center;
	font-size: 16px;
	margin: 24px;

}

.CTA a:hover {
	padding: 0.1rem;
	color: var(--title-color);
	background-color: var(--primary-color);
	border-radius: 10px;
}

.phone {
	color: var(--second-color);
}

.end-msg {
	width: auto;
	height: auto;
	padding: 12px;
	background: linear-gradient(90deg, #b33a46, #9b313c);
	border-radius: 20px;
	font-size: 14px;
	color: #fff;
	font-size: 24px;
}

a {
	text-decoration: none;
}

.happiness {
	z-index: var(--noindex);
	color: var(--second-color);
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 24px;
	margin-top: 3rem;
}

.socials a {
	color: var(--second-color);
}

.music {
	display: none;
}

.actions {
	display: flex;
	font-size: 12px;
	letter-spacing: 0pt;
}

.footer {
	font-size: 0.6rem;
	font-weight: 600;
	color: var(--title-color);

}

.footer span {
	color: var(--primary-color);

}

/*=============== NEWSLETTER ===============*/
.newsletter__container {
	display: flex;
	/* grid-template-columns: .7fr; */
	flex-direction: column;
	justify-content: center;
}

/* .newsletter__description{
	padding: 0 3rem;
  } */
.newsletter__description {
	z-index: var(--noindex);
	color: var(--second-color);
	font-size: 16px;
	text-align: center;
	margin-bottom: 0.6rem;
}

.newsletter__description span {
	font-weight: 600;
	font-size: 22px;
}

.newsletter__form {
	z-index: var(--noindex);
	background: var(--primary-color-lighter);
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	border-radius: .75rem;
}

.newsletter__input {
	font-size: 18px;
	width: 70%;
	padding: 0 .5rem;
	background: none;
	color: var(--title-color);
}

.newsletter__input::placeholder {
	color: var(--text-color);
}

blockquote {
	z-index: var(--noindex);
	position: relative;
	padding-left: 30px;
	font-weight: 600;
	color: var(--primary-color);
	padding: 1em;
	padding-right: 0.25em;
	margin-left: 2.25em;
	margin-right: 0.2em;
	max-width: 35em;
	font-size: 15px;
  }
  blockquote::before {
		content: "“";
		font-family: serif;
		position: absolute;
		right: 100%;
		font-size: 75px;
		line-height: 0px;
		top: 50px;
		color: var(--primary-color);
		animation: dancing 1s linear infinite;
		display: inline-block;
		transform: rotate(13deg);
	}
	blockquote::after {
		content: '';
		display: block;
		position: absolute;
		top: 100%;
		width: 80px;
		height: 5px;
		background: var(--second-color);
		left: 1em;
	}

/*=============== BUTTONS ===============*/
.button {
	display: flex;
	gap: 0.6rem;
	color: #fff;
	background-color: var(--primary-color);
	padding: 1rem 1.75rem;
	border-radius: .5rem;
	font-weight: 600;
	transition: .3s;
}

.button:hover {
	background-color: var(--second-color);
	color: var(--title-color);
}

.d-block {
	display: block !important;
}

.loading {
	display: none;
	text-align: center;
	padding: 15px;
}

.loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #eee;
	border-top-color: var(--primary-color);
	animation: animate-loading 1s linear infinite;
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Responsive Table Style */
.responsive-table {
	color: var(--primary-color);
	border-collapse: collapse;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
	width: 100%;
	margin: 2rem 0 5rem 0;
	overflow: hidden;
}

.responsive-table__row {
	display: grid;
	border-bottom: 1px solid var(--primary-color-lighter);
	padding: 0 1.5rem;
}

td:first-child {
	color: var(--second-color);
}

td:hover {
	color: #fff;
}

@media (min-width: 768px) {
	.responsive-table__row {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.responsive-table__row {
		grid-template-columns: 1fr 1fr;
	}
}

.responsive-table__row th,
.responsive-table__row td {
	padding: 1rem;
}

.responsive-table__body .responsive-table__row {
	transition: 0.1s linear;
	transition-property: color, background;
}

.responsive-table__body .responsive-table__row:last-child {
	border-bottom: none;
}

.responsive-table__body .responsive-table__row:hover {
	color: #ffffff !important;
	background-color: var(--primary-color-lighter);
}

.responsive-table__body__text {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.responsive-table__body__text::before {
	margin-right: 1rem;
	font-weight: 600;
	text-transform: capitalize;
}

@media (max-width: 400px) {
	.responsive-table__body__text::before {
		width: 100%;
		margin-bottom: 1rem;
	}
}

.responsive-table__body__text--name {
	font-weight: 600;
}

@media (min-width: 768px) {
	.responsive-table__body__text--name::before {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.responsive-table__body__text--name {
		grid-column: 1/2;
		flex-direction: column;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	.responsive-table__body__text--status,
	.responsive-table__body__text--types,
	.responsive-table__body__text--update {
		grid-column: 1/3;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.responsive-table__body__text--country {
		grid-column: 3/-1;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	.responsive-table__body__text--name,
	.responsive-table__body__text--country {
		grid-row: 2;
	}
}

.swal2-popup {
	border-radius: 0.75rem;
}

.swal2-html-container {
	font-size: 16px !important;
	font-weight: 600 !important;
}


/* 
.curtain-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.curtain {
    position: fixed;
    width: 50%;
    height: 100%;

    transition: transform 1s ease-in-out;
}

.curtain_left {
    left: 0;
    transform-origin: left;
    background-image: url('../assets/img/savedate.gif');
	background-size: cover; 
    background-position: left; 
    background-repeat: no-repeat;
    height: 100vh;
}

.curtain_right {
    right: 0;
    transform-origin: right;
    background-image: url('../assets/img/savedate.gif');
	background-size: cover; 
    background-position: right; 
    background-repeat: no-repeat;
    height: 100vh;
} */


/*=============== floating ===============*/



.floating {
    /* height: 100vh; */
    display: grid;
    place-items: center;
    /* background-color: hsl(234, 48%, 97%); */
}

.floating__container {
    position: fixed;
    right: 1.5rem;
    bottom: -20%;
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--zindex);
    transition: .4s;

}

/* Show scroll */
.show-scroll {
    bottom: 3rem;
}

.floating__toggle,
.floating__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--body-color);
}

.floating__toggle {
    color: var(--primary-color);
    width: 70px;
    height: 70px;
    font-size: 2rem;
    box-shadow: 6px 6px 24px var(--primary-color),
        -6px -6px 24px var(--body-color),
        inset -6px -6px 24px var(--primary-color),
        inset 6px 6px 24px var(--body-color);

    position: relative;
    z-index: 10;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s;
}

.floating__toggle i {
    transition: transform 0.4s ease-in-out;
}

.floating__toggle:hover {
    box-shadow: -6px -6px 24px var(--primary-color),
        6px 6px 24px var(--body-color),
        inset 6px 6px 24px var(--primary-color),
        inset -6px -6px 24px var(--body-color);
    transform: scale(0.95);
}

.floating__icon,
.floating__link {
    width: 40px;
    height: 40px;
}

.floating__icon {
    font-size: 1rem;
    color: var(--primary-color);
    box-shadow: -4px -4px 16px var(--primary-color),
        4px 4px 16px var(--body-color),
        inset 4px 4px 16px var(--primary-color),
        inset -4px -4px 16px var(--body-color);
    transition: box-shadow 0.3s ease-in-out;
}

.floating__icon:hover {
    box-shadow: 4px 4px 16px var(--primary-color),
        -4px -4px 16px var(--body-color),
        inset -4px -4px 16px var(--primary-color),
        inset 4px 4px 16px var(--body-color);
}

.floating__link {
    position: absolute;
    inset: 0;
    margin: auto;
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.6s;
    z-index: 1;
}

.floating__link:nth-child(1) {
    transition-delay: 0.1s;
}

.floating__link:nth-child(2) {
    transition-delay: 0.2s;
}

.floating__link:nth-child(3) {
    transition-delay: 0.3s;
}

/* Rotate toggle */
.active.floating__toggle i {
    transform: rotate(135deg);
}

/* Move icons */
.active~ul .floating__link {
    opacity: 1;
}

.active~ul .floating__link:nth-child(1) {
    transform: translate(-3.5rem, -3.5rem);
}

.active~ul .floating__link:nth-child(2) {
    transform: translate(-5.5rem);
}

.active~ul .floating__link:nth-child(3) {
    transform: translate(-3.5rem, 3.5rem);
}








/* flower animation  */



.flower_container {
	opacity: 0.3;
	/* height: 20vh; */
	position: relative;
	bottom: 17.9em;
	left: 10em;
  }



.square {

	position: absolute;
	animation: name ease 3s alternate infinite;
  }
  
  .square:nth-child(1) {
	width: 3.5vmin;
	height: 3.5vmin;
	z-index: 19;
	border-radius: 1.2vmin;
	transform: translate(-50%, -50%) rotate(36deg);
	box-shadow: 0 0 0.5vmin var(--primary-color);
	animation-delay: 60ms;
	animation-name: anim-1;
	background:  hsl(250, 57%, 77%);
  }
  
  @keyframes anim-1 {
	to {
	  transform: translate(-50%, -50%) rotate(36deg) scale(0.75);
	}
  }
  .square:nth-child(2) {
	width: 7vmin;
	height: 7vmin;
	z-index: 18;
	border-radius: 1.4vmin;
	transform: translate(-50%, -50%) rotate(72deg);
	box-shadow: 0 0 1vmin var(--primary-color-lighter);
	animation-delay: 120ms;
	animation-name: anim-2;
	background: hsl(250, 54%, 75%);
  }
  
  @keyframes anim-2 {
	to {
	  transform: translate(-50%, -50%) rotate(72deg) scale(0.75);
	}
  }
  .square:nth-child(3) {
	width: 10.5vmin;
	height: 10.5vmin;
	z-index: 17;
	border-radius: 1.6vmin;
	transform: translate(-50%, -50%) rotate(108deg);
	box-shadow: 0 0 1.5vmin var(--primary-color-lighter);
	animation-delay: 180ms;
	animation-name: anim-3;
	background: hsl(251, 55%, 74%);
  }
  
  @keyframes anim-3 {
	to {
	  transform: translate(-50%, -50%) rotate(108deg) scale(0.75);
	}
  }
  .square:nth-child(4) {
	width: 14vmin;
	height: 14vmin;
	z-index: 16;
	border-radius: 1.8vmin;
	transform: translate(-50%, -50%) rotate(144deg);
	box-shadow: 0 0 2vmin var(--primary-color-lighter);
	animation-delay: 240ms;
	animation-name: anim-4;
	background: hsl(250, 58%, 73%);
  }
  
  @keyframes anim-4 {
	to {
	  transform: translate(-50%, -50%) rotate(144deg) scale(0.75);
	}
  }
  .square:nth-child(5) {
	width: 17.5vmin;
	height: 17.5vmin;
	z-index: 15;
	border-radius: 2vmin;
	transform: translate(-50%, -50%) rotate(180deg);
	box-shadow: 0 0 2.5vmin var(--primary-color-lighter);
	animation-delay: 300ms;
	animation-name: anim-5;
	background: hsl(250, 67%, 73%);
  }
  
  @keyframes anim-5 {
	to {
	  transform: translate(-50%, -50%) rotate(180deg) scale(0.75);
	}
  }
  .square:nth-child(6) {
	width: 21vmin;
	height: 21vmin;
	z-index: 14;
	border-radius: 2.2vmin;
	transform: translate(-50%, -50%) rotate(216deg);
	box-shadow: 0 0 3vmin var(--primary-color-lighter);
	animation-delay: 360ms;
	animation-name: anim-6;
	background: hsl(250, 63%, 69%);
  }
  
  @keyframes anim-6 {
	to {
	  transform: translate(-50%, -50%) rotate(216deg) scale(0.75);
	}
  }
  .square:nth-child(7) {
	width: 24.5vmin;
	height: 24.5vmin;
	z-index: 13;
	border-radius: 2.4vmin;
	transform: translate(-50%, -50%) rotate(252deg);
	box-shadow: 0 0 3.5vmin var(--primary-color-lighter);
	animation-delay: 420ms;
	animation-name: anim-7;
	background: hsl(250, 68%, 71%);
  }
  
  @keyframes anim-7 {
	to {
	  transform: translate(-50%, -50%) rotate(252deg) scale(0.75);
	}
  }
  .square:nth-child(8) {
	width: 28vmin;
	height: 28vmin;
	z-index: 12;
	border-radius: 2.6vmin;
	transform: translate(-50%, -50%) rotate(288deg);
	box-shadow: 0 0 4vmin var(--primary-color-lighter);
	animation-delay: 480ms;
	animation-name: anim-8;
	background: hsl(250, 69%, 70%);
  }
  
  @keyframes anim-8 {
	to {
	  transform: translate(-50%, -50%) rotate(288deg) scale(0.75);
	}
  }
  .square:nth-child(9) {
	width: 31.5vmin;
	height: 31.5vmin;
	z-index: 11;
	border-radius: 2.8vmin;
	transform: translate(-50%, -50%) rotate(324deg);
	box-shadow: 0 0 4.5vmin var(--primary-color-lighter);
	animation-delay: 540ms;
	animation-name: anim-9;
	background: hsl(250, 79%, 72%);
  }
  
  @keyframes anim-9 {
	to {
	  transform: translate(-50%, -50%) rotate(324deg) scale(0.75);
	}
  }
  .square:nth-child(10) {
	width: 35vmin;
	height: 35vmin;
	z-index: 10;
	border-radius: 3vmin;
	transform: translate(-50%, -50%) rotate(360deg);
	box-shadow: 0 0 5vmin var(--primary-color-lighter);
	animation-delay: 600ms;
	animation-name: anim-10;
	background: hsl(250, 73%, 70%);
  }
  
  @keyframes anim-10 {
	to {
	  transform: translate(-50%, -50%) rotate(360deg) scale(0.75);
	}
  }
  .square:nth-child(11) {
	width: 38.5vmin;
	height: 38.5vmin;
	z-index: 9;
	border-radius: 3.2vmin;
	transform: translate(-50%, -50%) rotate(396deg);
	box-shadow: 0 0 5.5vmin var(--primary-color-lighter);
	animation-delay: 660ms;
	animation-name: anim-11;
	background: hsl(250, 69%, 67%);
  }
  
  @keyframes anim-11 {
	to {
	  transform: translate(-50%, -50%) rotate(396deg) scale(0.75);
	}
  }
  .square:nth-child(12) {
	width: 42vmin;
	height: 42vmin;
	z-index: 8;
	border-radius: 3.4vmin;
	transform: translate(-50%, -50%) rotate(432deg);
	box-shadow: 0 0 6vmin var(--primary-color-lighter);
	animation-delay: 720ms;
	animation-name: anim-12;
	background: hsl(250, 75%, 69%);
  }
  
  @keyframes anim-12 {
	to {
	  transform: translate(-50%, -50%) rotate(432deg) scale(0.75);
	}
  }
  .square:nth-child(13) {
	width: 45.5vmin;
	height: 45.5vmin;
	z-index: 7;
	border-radius: 3.6vmin;
	transform: translate(-50%, -50%) rotate(468deg);
	box-shadow: 0 0 6.5vmin var(--primary-color-lighter);
	animation-delay: 780ms;
	animation-name: anim-13;
	background: hsl(250, 73%, 67%);
  }
  
  @keyframes anim-13 {
	to {
	  transform: translate(-50%, -50%) rotate(468deg) scale(0.75);
	}
  }
  .square:nth-child(14) {
	width: 49vmin;
	height: 49vmin;
	z-index: 6;
	border-radius: 3.8vmin;
	transform: translate(-50%, -50%) rotate(504deg);
	box-shadow: 0 0 7vmin var(--primary-color-lighter);
	animation-delay: 840ms;
	animation-name: anim-14;
	background: hsl(250, 76%, 67%);
  }
  
  @keyframes anim-14 {
	to {
	  transform: translate(-50%, -50%) rotate(504deg) scale(0.75);
	}
  }
  .square:nth-child(15) {
	width: 52.5vmin;
	height: 52.5vmin;
	z-index: 5;
	border-radius: 4vmin;
	transform: translate(-50%, -50%) rotate(540deg);
	box-shadow: 0 0 7.5vmin var(--primary-color-lighter);
	animation-delay: 900ms;
	animation-name: anim-15;
	background: hsl(250, 78%, 67%);
  }
  
  @keyframes anim-15 {
	to {
	  transform: translate(-50%, -50%) rotate(540deg) scale(0.75);
	}
  }
  .square:nth-child(16) {
	width: 56vmin;
	height: 56vmin;
	z-index: 4;
	border-radius: 4.2vmin;
	transform: translate(-50%, -50%) rotate(576deg);
	box-shadow: 0 0 8vmin var(--primary-color-lighter);
	animation-delay: 960ms;
	animation-name: anim-16;
	background: hsl(250, 74%, 65%);
  }
  
  @keyframes anim-16 {
	to {
	  transform: translate(-50%, -50%) rotate(576deg) scale(0.75);
	}
  }
  .square:nth-child(17) {
	width: 59.5vmin;
	height: 59.5vmin;
	z-index: 3;
	border-radius: 4.4vmin;
	transform: translate(-50%, -50%) rotate(612deg);
	box-shadow: 0 0 8.5vmin var(--primary-color-lighter);
	animation-delay: 1020ms;
	animation-name: anim-17;
	background: hsl(250, 72%, 64%);
  }
  
  @keyframes anim-17 {
	to {
	  transform: translate(-50%, -50%) rotate(612deg) scale(0.75);
	}
  }
  .square:nth-child(18) {
	width: 63vmin;
	height: 63vmin;
	z-index: 2;
	border-radius: 4.6vmin;
	transform: translate(-50%, -50%) rotate(648deg);
	box-shadow: 0 0 9vmin var(--primary-color-lighter);
	animation-delay: 1080ms;
	animation-name: anim-18;
	background: hsl(250, 76%, 65%);
  }
  
  @keyframes anim-18 {
	to {
	  transform: translate(-50%, -50%) rotate(648deg) scale(0.75);
	}
  }
  .square:nth-child(19) {
	width: 66.5vmin;
	height: 66.5vmin;
	z-index: 1;
	border-radius: 4.8vmin;
	transform: translate(-50%, -50%) rotate(684deg);
	box-shadow: 0 0 9.5vmin var(--primary-color-lighter);
	animation-delay: 1140ms;
	animation-name: anim-19;
	background: hsl(250, 74%, 64%);
  }
  
  @keyframes anim-19 {
	to {
	  transform: translate(-50%, -50%) rotate(684deg) scale(0.75);
	}
  }
  .square:nth-child(20) {
	width: 70vmin;
	height: 70vmin;
	z-index: 0;
	border-radius: 5vmin;
	transform: translate(-50%, -50%) rotate(720deg);
	box-shadow: 0 0 10vmin var(--primary-color-lighter);
	animation-delay: 1200ms;
	animation-name: anim-20;
	background: hsl(250, 69%, 61%);
  }
  
  @keyframes anim-20 {
	to {
	  transform: translate(-50%, -50%) rotate(720deg) scale(0.75);
	}
  }


  .table__flower{
	z-index: -1;
	opacity: 0.2;
  
}
@media (min-width: 768px) {
	.table__flower{
		
	}
}

  .flower_square {
	position: absolute;
	animation: name ease 3s alternate infinite;
  }
  
  .flower_square:nth-child(1) {
	width: 3.5vmin;
	height: 3.5vmin;
	z-index: 19;
	border-radius: 1.2vmin;
	transform: translate(-50%, -50%) rotate(36deg);
	box-shadow: 0 0 0.5vmin var(--primary-color);
	animation-delay: 60ms;
	animation-name: anim-1;
	background:  hsl(250, 57%, 77%);
  }
  
  @keyframes anim-1 {
	to {
	  transform: translate(-50%, -50%) rotate(36deg) scale(0.75);
	}
  }
  .flower_square:nth-child(2) {
	width: 7vmin;
	height: 7vmin;
	z-index: 18;
	border-radius: 1.4vmin;
	transform: translate(-50%, -50%) rotate(72deg);
	box-shadow: 0 0 1vmin var(--primary-color-lighter);
	animation-delay: 120ms;
	animation-name: anim-2;
	background: hsl(250, 54%, 75%);
  }
  
  @keyframes anim-2 {
	to {
	  transform: translate(-50%, -50%) rotate(72deg) scale(0.75);
	}
  }
  .flower_square:nth-child(3) {
	width: 10.5vmin;
	height: 10.5vmin;
	z-index: 17;
	border-radius: 1.6vmin;
	transform: translate(-50%, -50%) rotate(108deg);
	box-shadow: 0 0 1.5vmin var(--primary-color-lighter);
	animation-delay: 180ms;
	animation-name: anim-3;
	background: hsl(251, 55%, 74%);
  }
  
  @keyframes anim-3 {
	to {
	  transform: translate(-50%, -50%) rotate(108deg) scale(0.75);
	}
  }
  .flower_square:nth-child(4) {
	width: 14vmin;
	height: 14vmin;
	z-index: 16;
	border-radius: 1.8vmin;
	transform: translate(-50%, -50%) rotate(144deg);
	box-shadow: 0 0 2vmin var(--primary-color-lighter);
	animation-delay: 240ms;
	animation-name: anim-4;
	background: hsl(250, 58%, 73%);
  }
  
  @keyframes anim-4 {
	to {
	  transform: translate(-50%, -50%) rotate(144deg) scale(0.75);
	}
  }
  .flower_square:nth-child(5) {
	width: 17.5vmin;
	height: 17.5vmin;
	z-index: 15;
	border-radius: 2vmin;
	transform: translate(-50%, -50%) rotate(180deg);
	box-shadow: 0 0 2.5vmin var(--primary-color-lighter);
	animation-delay: 300ms;
	animation-name: anim-5;
	background: hsl(250, 67%, 73%);
  }
  
  @keyframes anim-5 {
	to {
	  transform: translate(-50%, -50%) rotate(180deg) scale(0.75);
	}
  }
  .flower_square:nth-child(6) {
	width: 21vmin;
	height: 21vmin;
	z-index: 14;
	border-radius: 2.2vmin;
	transform: translate(-50%, -50%) rotate(216deg);
	box-shadow: 0 0 3vmin var(--primary-color-lighter);
	animation-delay: 360ms;
	animation-name: anim-6;
	background: hsl(250, 63%, 69%);
  }
  
  @keyframes anim-6 {
	to {
	  transform: translate(-50%, -50%) rotate(216deg) scale(0.75);
	}
  }
  .flower_square:nth-child(7) {
	width: 24.5vmin;
	height: 24.5vmin;
	z-index: 13;
	border-radius: 2.4vmin;
	transform: translate(-50%, -50%) rotate(252deg);
	box-shadow: 0 0 3.5vmin var(--primary-color-lighter);
	animation-delay: 420ms;
	animation-name: anim-7;
	background: hsl(250, 68%, 71%);
  }
  
  @keyframes anim-7 {
	to {
	  transform: translate(-50%, -50%) rotate(252deg) scale(0.75);
	}
  }
  .flower_square:nth-child(8) {
	width: 28vmin;
	height: 28vmin;
	z-index: 12;
	border-radius: 2.6vmin;
	transform: translate(-50%, -50%) rotate(288deg);
	box-shadow: 0 0 4vmin var(--primary-color-lighter);
	animation-delay: 480ms;
	animation-name: anim-8;
	background: hsl(250, 69%, 70%);
  }
  
  @keyframes anim-8 {
	to {
	  transform: translate(-50%, -50%) rotate(288deg) scale(0.75);
	}
  }
  .flower_square:nth-child(9) {
	width: 31.5vmin;
	height: 31.5vmin;
	z-index: 11;
	border-radius: 2.8vmin;
	transform: translate(-50%, -50%) rotate(324deg);
	box-shadow: 0 0 4.5vmin var(--primary-color-lighter);
	animation-delay: 540ms;
	animation-name: anim-9;
	background: hsl(250, 79%, 72%);
  }
  
  @keyframes anim-9 {
	to {
	  transform: translate(-50%, -50%) rotate(324deg) scale(0.75);
	}
  }
  .flower_square:nth-child(10) {
	width: 35vmin;
	height: 35vmin;
	z-index: 10;
	border-radius: 3vmin;
	transform: translate(-50%, -50%) rotate(360deg);
	box-shadow: 0 0 5vmin var(--primary-color-lighter);
	animation-delay: 600ms;
	animation-name: anim-10;
	background: hsl(250, 73%, 70%);
  }
  
  @keyframes anim-10 {
	to {
	  transform: translate(-50%, -50%) rotate(360deg) scale(0.75);
	}
  }
  .flower_square:nth-child(11) {
	width: 38.5vmin;
	height: 38.5vmin;
	z-index: 9;
	border-radius: 3.2vmin;
	transform: translate(-50%, -50%) rotate(396deg);
	box-shadow: 0 0 5.5vmin var(--primary-color-lighter);
	animation-delay: 660ms;
	animation-name: anim-11;
	background: hsl(250, 69%, 67%);
  }
  
  @keyframes anim-11 {
	to {
	  transform: translate(-50%, -50%) rotate(396deg) scale(0.75);
	}
  }
  .flower_square:nth-child(12) {
	width: 42vmin;
	height: 42vmin;
	z-index: 8;
	border-radius: 3.4vmin;
	transform: translate(-50%, -50%) rotate(432deg);
	box-shadow: 0 0 6vmin var(--primary-color-lighter);
	animation-delay: 720ms;
	animation-name: anim-12;
	background: hsl(250, 75%, 69%);
  }
  
  @keyframes anim-12 {
	to {
	  transform: translate(-50%, -50%) rotate(432deg) scale(0.75);
	}
  }
  .flower_square:nth-child(13) {
	width: 45.5vmin;
	height: 45.5vmin;
	z-index: 7;
	border-radius: 3.6vmin;
	transform: translate(-50%, -50%) rotate(468deg);
	box-shadow: 0 0 6.5vmin var(--primary-color-lighter);
	animation-delay: 780ms;
	animation-name: anim-13;
	background: hsl(250, 73%, 67%);
  }
  
  @keyframes anim-13 {
	to {
	  transform: translate(-50%, -50%) rotate(468deg) scale(0.75);
	}
  }
  .flower_square:nth-child(14) {
	width: 49vmin;
	height: 49vmin;
	z-index: 6;
	border-radius: 3.8vmin;
	transform: translate(-50%, -50%) rotate(504deg);
	box-shadow: 0 0 7vmin var(--primary-color-lighter);
	animation-delay: 840ms;
	animation-name: anim-14;
	background: hsl(250, 76%, 67%);
  }
  
  @keyframes anim-14 {
	to {
	  transform: translate(-50%, -50%) rotate(504deg) scale(0.75);
	}
  }
  .flower_square:nth-child(15) {
	width: 52.5vmin;
	height: 52.5vmin;
	z-index: 5;
	border-radius: 4vmin;
	transform: translate(-50%, -50%) rotate(540deg);
	box-shadow: 0 0 7.5vmin var(--primary-color-lighter);
	animation-delay: 900ms;
	animation-name: anim-15;
	background: hsl(250, 78%, 67%);
  }
  
  @keyframes anim-15 {
	to {
	  transform: translate(-50%, -50%) rotate(540deg) scale(0.75);
	}
  }
  .flower_square:nth-child(16) {
	width: 56vmin;
	height: 56vmin;
	z-index: 4;
	border-radius: 4.2vmin;
	transform: translate(-50%, -50%) rotate(576deg);
	box-shadow: 0 0 8vmin var(--primary-color-lighter);
	animation-delay: 960ms;
	animation-name: anim-16;
	background: hsl(250, 74%, 65%);
  }
  
  @keyframes anim-16 {
	to {
	  transform: translate(-50%, -50%) rotate(576deg) scale(0.75);
	}
  }
  .flower_square:nth-child(17) {
	width: 59.5vmin;
	height: 59.5vmin;
	z-index: 3;
	border-radius: 4.4vmin;
	transform: translate(-50%, -50%) rotate(612deg);
	box-shadow: 0 0 8.5vmin var(--primary-color-lighter);
	animation-delay: 1020ms;
	animation-name: anim-17;
	background: hsl(250, 72%, 64%);
  }
  
  @keyframes anim-17 {
	to {
	  transform: translate(-50%, -50%) rotate(612deg) scale(0.75);
	}
  }
  .flower_square:nth-child(18) {
	width: 63vmin;
	height: 63vmin;
	z-index: 2;
	border-radius: 4.6vmin;
	transform: translate(-50%, -50%) rotate(648deg);
	box-shadow: 0 0 9vmin var(--primary-color-lighter);
	animation-delay: 1080ms;
	animation-name: anim-18;
	background: hsl(250, 76%, 65%);
  }
  
  @keyframes anim-18 {
	to {
	  transform: translate(-50%, -50%) rotate(648deg) scale(0.75);
	}
  }
  .flower_square:nth-child(19) {
	width: 66.5vmin;
	height: 66.5vmin;
	z-index: 1;
	border-radius: 4.8vmin;
	transform: translate(-50%, -50%) rotate(684deg);
	box-shadow: 0 0 9.5vmin var(--primary-color-lighter);
	animation-delay: 1140ms;
	animation-name: anim-19;
	background: hsl(250, 74%, 64%);
  }
  
  @keyframes anim-19 {
	to {
	  transform: translate(-50%, -50%) rotate(684deg) scale(0.75);
	}
  }
  .flower_square:nth-child(20) {
	width: 70vmin;
	height: 70vmin;
	z-index: 0;
	border-radius: 5vmin;
	transform: translate(-50%, -50%) rotate(720deg);
	box-shadow: 0 0 10vmin var(--primary-color-lighter);
	animation-delay: 1200ms;
	animation-name: anim-20;
	background: hsl(250, 69%, 61%);
  }
  
  @keyframes anim-20 {
	to {
	  transform: translate(-50%, -50%) rotate(720deg) scale(0.75);
	}
  }